
.btn-style-one{
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #000000;
    }
    
    .btn-style-one:hover{
    background-color: #f60;
    color: #ffffff;
    }