.card{

border: 1px solid black;

    
}

.boxshadow{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
    margin: 5px;
        }
.cardTitle{
    padding-top:10px;
    padding-bottom:0px;
    padding-left:5px;
}
.count{
    padding-top:0px;
    padding-bottom:03px;
    padding-left:5px;
}
.imgcard{
    object-fit: contain;
    width:100%;
    height:100%;
}
.spacebar{


    padding-top:100px;
    padding-bottom: 80px;
}
