.title{

    text-align :center;
    font-size:45px;
    font-weight:600;
    color:aliceblue;
    padding:50px 0px 40px 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}
    .spacecontent{


        margin-top:50px;
        margin-bottom: 80px;
    }
    .projectSpace{

        margin-top: 50px;
        margin-bottom: 50px;
    }